body {
    background:  url('../img/burger.png') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Luckiest Guy', cursive;
    color: orange;
    text-align: center;
}

.panel-primary {
    background: #a0522d;
    opacity: 0.90;
}

#burgerList ul {
    display: inline-block;
}

h1 {
    color:  red;
}

button {
    color: red;
}